<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python_env\Scripts\wfastcgi.py|%PYTHON_EXE%" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^/?(css|img|js|lib)/" ignoreCase="true" />
          <action type="Rewrite" url="static/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="include" />
          <add segment="Lib" />
          <add segment="tcmalloc.dll" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
